
ul{
    list-style: none;
}
body{
    box-sizing: border-box;
}
.wrapper{

}
.flex{
    display: flex;    
}
.col{
    flex-wrap: wrap;
    border: 2px solid rgb(154, 24, 180);
}
.col > div{
    flex-wrap: wrap;
 
    margin-left: 1px;
    margin-top: 1px;

    text-align: center;
    background-color: cadetblue;
}
.col > div:nth-child(2n+1){
    background-color: brown;
}

