*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Ubuntu', sans-serif;

}
body {
    background-color: rgb(48, 48, 48);
}
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(28, 28, 28);
    letter-spacing: 2px;
    font-weight: bold;
}
.nav span { 
    color: rgb(179, 177, 177);
}
.nav {
    padding: 25px 70px 25px;
}
.logo {
    padding: 25px 70px 25px; 
    color: rgb(179, 177, 177);
}
span {
    margin-left: 25px;
}
.main {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    /* min-height: 100vh; */
    padding: 7%;
}
.greet span p{
    font-size: 4em;
    color: white;
    font-weight: bold;
}
font{

    color: red;
    font-size: 0.8em;
}
.skills {
    color: rgb(117, 117, 117);
    font-size: 2em;
    font-weight: bold;
}
button {
    background-color: rgb(48, 48, 48);
    border: 1px solid rgb(211, 70, 70);
    border-radius: 10%;
    color: rgb(211, 70, 70);
    padding: 8px 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 4px 2px;
}

#avatar{
    width: 40vw;
}
#iconAbout {
    width: 10vw;;
}

.about{
    background-color: rgb(28, 28, 28);
    display: flex;
    color: white;
    height: 30vw;
    align-items: center;
    font-size: 25px;
}
#icon {
    width: 7vw;
}
.photo-about{
    font-size: 10em;
    flex-basis: 50vw;
    text-align: center;
}
.skill {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    color: white;
    height: 40vh;
    font-size: 20px;
}
.skill div {
    padding: 20px;
    flex-basis: 150px;
} 

@media screen and (max-width: 1230px){
    .main {
        font-size: 13px;
    }
    .about {
        font-size: 20px;
    }
    .skill{
        font-size: 15px;
    }
    .skill div {
        
        padding: 20px;
        flex-basis: 250px;
    } 
}
@media screen and (max-width: 920px){
    .main {
        font-size: 10px;
    }
    .about {
        font-size: 15px;
    }
    .skill div {
        
        padding: 20px;
        flex-basis: 250px;
    } 
}
@media screen and (max-width: 730px){
    header{
        flex-direction: column;
    }

    .main {
        font-size: 8px;
    }
    .logo, .nav { 
        padding: 10px 10px 10px;
    }
    .nav{
        text-align: center;
    }
    .about {
        font-size: 14px;
    }
    .skill div {
        font-size: 10px;
        padding: 20px;
        flex-basis: 150px;
    }
    .skill din span {
        display: none;
    }
}
@media screen and (max-width: 530px){

    .main {
        font-size: 6px;
    }
    .logo, .nav { 
        padding: 10px 10px 10px;
    }
    .nav{
        text-align: center;
    }
    button{
        font-size: 2em;
    }
}
