.flex-container {
    display: flex;
    flex-direction: column;
    
  }
  
  .flex-container > div {
    text-align: center;
    height: 100px;
    width: 100px;
    
  }
  .first{
      background-color: rgb(102, 49, 49);
  }

  .second{
      background-color: saddlebrown;
  
  }
  .third{
      background-color: salmon;

  }
