
ul{
    list-style: none;
}
body{
    box-sizing: border-box;
}
.wrapper{
}
.grid{
    display:grid;
    grid-gap: 7px;
    grid-template-columns:repeat(16, 3vw);
    grid-auto-rows: 4vh;

}
li{
    background-color: antiquewhite;
    display:grid; 
    justify-items:center; 
    align-items:center;
}
li:nth-child(3n+1){
    background-color: rgb(13, 175, 35);
}
li:nth-child(3n+2){
    background-color: rgb(13, 24, 175);
}
li:nth-child(3n+3){
    background-color: rgb(175, 172, 13);
}

