.html{

}
body{
    font-family: 'Montserrat', sans-serif;;
    margin: 0;
    padding: 0;
    background-color: rgb(219, 228, 243);
}
.header{

}
.nav{
    background-color: rgb(75, 105, 143);
    height: 50px;
    color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main{
    text-align: center;
    position: relative;
    /* padding-bottom: 42%; */
    overflow: auto;
    height: 650px;
    overflow-x: hidden;
    
}
.container{
    height: auto;
    box-sizing: border-box;
    padding-top: 3%;
    padding-left: 1%;
    display: inline-block;
   
}
.container:hover{
    transition: 0.3s;
    transform: scale(1.1);
    box-shadow: none;
}
span{
    position: relative;
    display: block;
    margin-top: 2px;
    margin-bottom: 3px;
    color: rgb(71, 133, 9);
}
button{
    border: none;
    color: rgb(177, 87, 87);
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}
button:hover{
    color: rgb(255, 255, 255);
    background-color: #4CAF50;
}
img{
    width: 150px;
    
}

li {
    float: right;
    margin-left: 20px;
    display: block;
    text-align: center;
    padding: 15px;
}
.footer{
    
    background-color: rgb(75, 105, 143);
    height: 40px;

  
    text-align: center;
    color: rgb(255, 255, 255);
    
    padding-top: 15px;
}
a{
    text-decoration: none;
    color: honeydew;
}
@media screen and (min-width: 992px) and (max-width: 1909.98px) {
    img{
        width: 13vw;
    }
    button{
        padding: 6px 15px;
        text-align: center;
        font-size: 12px;
    }
    span{
        font-size: 15px;
    }
   }
   @media screen and (min-width: 768px) and (max-width: 992px){
    
    img{
        width: 20vw;        
    } 
}
@media screen and (min-width: 600px) and (max-width: 768px){
    
    img{
        width: 35vw;        
    } 
}
@media (max-width: 600px){
    img{
        width: 50vw;        
    }
   }