<%-include('../Partials/header.ejs')%>
<title>ChatCord</title>
</head>
<body>
    
    <h1> MAIN PAGE</h1>

<a href = "http://localhost:3000/chatroom"><button type = 'submit'>Let's Go Home</button></a>
<script src="/Views/Home/home.js" defer></script>
</body>
</html>