
ul{
    list-style: none;
}
body{
    box-sizing: border-box;
}
.wrapper{
}
.grid{
    display:grid;
    grid-gap: 7px;
    grid-template-columns:repeat(16, 3vw);
    grid-auto-rows: 4vh;

}
li{
    background-color: antiquewhite;
    display:grid; 
    justify-items:center; 
    align-items:center;
}
li:nth-child(4n+1){
    background-color: rgb(180, 180, 180);
}
li:nth-child(4n+2){
    background-color: rgb(130, 130, 130);
}
li:nth-child(4n+3){
    background-color: rgb(90, 90, 90);
}
li:nth-child(4n+4){
    background-color: rgb(5, 5, 5);
}

